<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Ramal</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    
    <div class="container">
        <h1>Cadastro de Ramal</h1>
        <hr>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nome</span>
            <input type="text" class="form-control" placeholder="Nome do usuário" aria-label="nome" aria-describedby="Nome do usuário">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Ramal</span>
            <input type="text" class="form-control" placeholder="Numero do ramal" aria-label="ramal" aria-describedby="Numero do ramal">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Senha</span>
            <input type="password" class="form-control" placeholder="Senha do ramal" aria-label="senha" aria-describedby="Senha do ramal que será utilizada para registrar um aparelho">
        </div>
     
        <select class="form-select" multiple aria-label="Codecs">
            <option value="alaw">Alaw</option>
            <option value="ulaw">Ulaw</option>
        </select>
        
        <hr>
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="btn-group" role="group" aria-label="Botões para salvar ou cancelar">
                <button type="button" class="btn btn-danger">Cancelar</button>                
                <button type="button" class="btn btn-success">Salvar</button>
            </div>        
        </div>
        
    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->    
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>

</html>